@*Vista Listado  de controlador Pagos*@
@using Dominio;
@{
    ViewData["Title"] = "Listado";
}

<h1>Pagos del mes</h1>

@if (ViewBag.Listado == null || ((List<Pago>)ViewBag.Listado).Count == 0)
{
    <div class="alert alert-info">No hay pagos para mostrar</div>
} else {

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-info">@ViewBag.Error</div>
    }


    <table class="table table-dark">
    <thead>
        <tr>
            <th>Email</th>
            <th>Descripcion</th>
            <th>Tipo de Pago</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Metodo Pago</th>
       
        </tr>
    </thead>
    <tbody>
        
        @foreach(Pago p in ViewBag.Listado)
        {
            <tr>
                <td>@Context.Session.GetString("usuario")</td>
                <td>@p.Descripcion</td>
                @if(p is Recurrente r)
                {
                    <td>Recurrente</td>
                    <td>@r.FechaInicio</td>
                }
                @if(p is Unico u)
                {
                    <td>Unico</td>
                    <td>@u.Fecha</td>
                }
                
                <td>@p.Monto</td>
                <td>@p.MetodoDePago.ToString()</td>
            </tr>
        }
        
       
    </tbody>
   
</table>
}
